div.cruise
	div.header
		p Twicas Cruise
		p Logout
	div.video
		h1 {{live.title}}
		p {{live.subtitle}}
		div.video_panel
			video(ng-src="{{live.url}}" autoplay="true" controls="true" poster="/img/screen-offline-320-flash-ja.jpg")
			div.comments
				h1 Comments
			div.comment_panel
				div.comment
					img(src="pic/icon.jpg")
					p コメント
				div.comment
					img(src="pic/icon.jpg")
					p コメント
				div.comment
					img(src="pic/icon.jpg")
					p コメント
				div.comment
					img(src="pic/icon.jpg")
					p コメント
				div.comment
					img(src="pic/icon.jpg")
					p コメント
				div.comment
					img(src="pic/icon.jpg")
					p コメント
				div.comment
					img(src="pic/icon.jpg")
					p コメント
				div.comment
					img(src="pic/icon.jpg")
					p コメント
	div.bottom
		img(ng_src="{{live.image}}")
		h1 {{live.name}}
		p @{{live.screen_id}}

p(ng-click="nextCast()") next