div.cruise
	div.header
		p Twicas Cruise
		p Logout
	div.video
		h1 タイトル
		p サブタイトル
		div.video_panel
			video(ng-src="{{live.url}}" autoplay="true" controls="true" poster="/img/screen-offline-320-flash-ja.jpg")
			div.comments
				h1 Comments
			div.comment_panel
				div.comment
					img(src="pic/icon.jpg")
					p コメント
				div.comment
					img(src="pic/icon.jpg")
					p コメント
				div.comment
					img(src="pic/icon.jpg")
					p コメント
				div.comment
					img(src="pic/icon.jpg")
					p コメント
				div.comment
					img(src="pic/icon.jpg")
					p コメント
				div.comment
					img(src="pic/icon.jpg")
					p コメント
				div.comment
					img(src="pic/icon.jpg")
					p コメント
				div.comment
					img(src="pic/icon.jpg")
					p コメント
	div.bottom
		img(src="pic/icon.jpg")
		h1 配信者の名前
		p @screen_name

p(ng-click="nextCast()") next