div.top(ng-show="dark")
	div.header
		div.title
			h1 Twicas Cruise
			p ランダムでキャスを旋回できるサービス
		div.button(ng-click="login()")
			p START CRUISE
	div.main
		div.card(ng-repeat="card in cards")
			img(src="{{live.thumbnail}}")
			div.caps
				h2 {{live.title}}
				p {{live.subtitle}}
				p {{live.name}}

div(ng-show="light")
	.head
		.title
			h1 Twitcas Cruise
			p ランダムでキャスを旋回できるサービス
			.btn(ng-click="login()")
				p Start Cruise
	.main
		.panel
			.image
			.text
				h2 うんこのキャス
				p user name

