div.top
	div.header
		div.title
			h1 Twicas Cruise
			p ランダムでキャスを旋回できるサービス
		div.button(ng-click="login()")
			p START CRUISE
	div.main
		div.card
			img(src="pic/thumbnail.png")
			div.caps
				h2 {{live.title}}
				p {{live.subtitle}}
				p {{live.name}}
		div.card
			img(src="pic/thumbnail.png")
			div.caps
				h2 {{live.title}}
				p {{live.subtitle}}
				p {{live.name}}
		div.card
			img(src="pic/thumbnail.png")
			div.caps
				h2 {{live.title}}
				p {{live.subtitle}}
				p {{live.name}}
		div.card
			img(src="pic/thumbnail.png")
			div.caps
				h2 {{live.title}}
				p {{live.subtitle}}
				p {{live.name}}
