div.top
	div.header
		div.title
			h1 Twicas Cruise
			p ランダムでキャスを旋回できるサービス
		div.button(ng-click="login()")
			p START CRUISE
	div.main
		div.card(ng-repeat="card in cards")
			img(src="{{card.thumbnail}}")
			div.caps
				h2 {{card.title}}　
				p {{card.subtitle}}　
				p {{card.name}}　


